dist
compiled
*.log
coverage
.DS_Store
next.d.ts
legacy.d.ts
.idea
*.orig

node_modules
package-lock.json

website/translated_docs
website/build
!website/yarn.lock
website/node_modules
website/i18n
!website2/yarn.lock
.env
.vercel
/test-results/
/playwright-report/
/playwright/.cache/

# benchmarks
output.txt

# yarn 3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
