node_modules
dist
compiled
*.log
coverage
.DS_Store
next.d.ts
legacy.d.ts
.idea
*.orig
.DS_Store

node_modules

lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*
.rts2_cache_es
.rts2_cache_esm
.rts2_cache_cjs
.rts2_cache_umd