dist
compiled
*.log
coverage
.DS_Store
next.d.ts
legacy.d.ts
.idea
*.orig
output.txt

node_modules
package-lock.json
yarn.lock
!/docs/yarn.lock
!/yarn.lock

website/translated_docs
website/build
!website/yarn.lock
website/node_modules
website/i18n
!website2/yarn.lock
.env
.vercel
/test-results/
/playwright-report/
/playwright/.cache/