*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, 'San Francisco', -apple-system, BlinkMacSystemFont,
    '.SFNSText-Regular', 'Helvetica Neue', Helvetica, sans-serif;
  color: #222;
  font-size: 16px;
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-feature-settings: 'liga', 'kern';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #666ee8;
  text-decoration: none;
  -webkit-user-select: text;
}

a:hover {
  cursor: pointer;
}

hr {
  border: 0;
  height: 0;
  border-bottom: 1px solid #d9dde1;
}

p {
  -webkit-user-select: text;
  cursor: auto;
}

iframe {
  margin: 0;
  padding: 0;
}

main {
  max-width: 600px;
  padding: 1rem;
}

.formik-example input,
.formik-example select {
  display: block;
  padding: 0.5rem;
  font-size: 15px;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.formik-example input+.field-error,
.formik-example select+.field-error {
  margin-top: -0.5rem;
  font-size: 0.85rem;
  color: red;
  margin-bottom: 1rem;
}

.formik-example h1 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.formik-example label {
  font-weight: 500;
  display: block;
  font-size: 0.85rem;
  padding-bottom: 0.5rem;
}

.formik-example button[type='submit'],
.formik-example button.primary,
.formik-example button.secondary {
  display: block;
  background: #666ee8;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.1),
    0 -1px 8px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  width: 100%;
  height: 40px;
  outline: none;
  cursor: pointer;
  transition: all 0.15s ease;
}

.formik-example button[type='submit']:hover,
.formik-example button.secondary:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.08);
}

.formik-example button[type='submit']:focus {
  background: #555abf;
}

.formik-example button[type='submit']:active {
  background: #43458b;
}

.formik-example button.secondary {
  color: #333;
  margin-bottom: 0.5rem;
  background: #fff;
}

.formik-example button.secondary:active {
  background: #f5f6f7;
}

.formik-example select {
  position: static;
  min-width: 100%;
  padding-right: 23px;
  appearance: none;
  background: #fff;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDYgMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPnNlbGVjdC0tYXJyb3dzPC90aXRsZT48cGF0aCBkPSJNMS4xNDIgOC42ODNMMi4zMSA5Ljc1cy4zNS4zOC42OS4zOGMuMzQgMCAuNjg5LS4zNzkuNjg5LS4zNzlsMS4xNjktMS4wNjhhLjY5LjY5IDAgMCAxIC45NDMuMDA2LjYyLjYyIDAgMCAxIC4wMDYuOTA1TDMuNDcgMTEuODE3QS42NzEuNjcxIDAgMCAxIDMgMTJhLjY3MS42NzEgMCAwIDEtLjQ2OS0uMTgzTC4xOTMgOS41OTRhLjYyLjYyIDAgMCAxIC4wMDYtLjkwNS42OS42OSAwIDAgMSAuOTQzLS4wMDZ6bTAtNS4zNjZBLjY5LjY5IDAgMCAxIC4yIDMuMzExYS42Mi42MiAwIDAgMS0uMDA2LS45MDVMMi41My4xODNBLjY3MS42NzEgMCAwIDEgMyAwYy4xNzEgMCAuMzQxLjA2LjQ2OS4xODNsMi4zMzggMi4yMjNhLjYyLjYyIDAgMCAxLS4wMDYuOTA1LjY5LjY5IDAgMCAxLS45NDMuMDA2TDMuNjg4IDIuMjVTMy4zNCAxLjg3IDMgMS44N2MtLjM0IDAtLjY5LjM4LS42OS4zOEwxLjE0MiAzLjMxN3oiIGZpbGw9IiM1MjVGN0YiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==');
  background-position: right 9px top 50%;
  background-repeat: no-repeat;
}

.formik-example select:active,
.formik-example select:hover {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDYgMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPnNlbGVjdC0tYXJyb3dzLS1ob3ZlcjwvdGl0bGU+PHBhdGggZD0iTTEuMTQyIDguNjgzTDIuMzEgOS43NXMuMzUuMzguNjkuMzhjLjM0IDAgLjY4OS0uMzc5LjY4OS0uMzc5bDEuMTY5LTEuMDY4YS42OS42OSAwIDAgMSAuOTQzLjAwNi42Mi42MiAwIDAgMSAuMDA2LjkwNUwzLjQ3IDExLjgxN0EuNjcxLjY3MSAwIDAgMSAzIDEyYS42NzEuNjcxIDAgMCAxLS40NjktLjE4M0wuMTkzIDkuNTk0YS42Mi42MiAwIDAgMSAuMDA2LS45MDUuNjkuNjkgMCAwIDEgLjk0My0uMDA2em0wLTUuMzY2QS42OS42OSAwIDAgMSAuMiAzLjMxMWEuNjIuNjIgMCAwIDEtLjAwNi0uOTA1TDIuNTMuMTgzQS42NzEuNjcxIDAgMCAxIDMgMGMuMTcxIDAgLjM0MS4wNi40NjkuMTgzbDIuMzM4IDIuMjIzYS42Mi42MiAwIDAgMS0uMDA2LjkwNS42OS42OSAwIDAgMS0uOTQzLjAwNkwzLjY4OCAyLjI1UzMuMzQgMS44NyAzIDEuODdjLS4zNCAwLS42OS4zOC0uNjkuMzhMMS4xNDIgMy4zMTd6IiBmaWxsPSIjMzIzMjVEIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=');
}

.formik-example .fieldset.fieldset--error input,
.formik-example .fieldset.fieldset--error select {
  border-color: red;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(255, 0, 0, 0.1);
}

.formik-example .fieldset.fieldset--error label,
.field-error {
  color: red;
}

.formik-example .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formik-example .col+.col {
  margin-left: 0.5rem;
}

.formik-example .col+.col+.col {
  margin-top: 0.2rem;
  height: 38px;
}

.formik-example .primary {
  margin-bottom: 2rem;
}